/*-------SECCIÓN DE CONOCIMIENTOS---------*/
.section{
    background: #DEF2F1;
}

.skills{
    text-align: center;
    padding-bottom: 100px;
}

.skills h2{
    padding-top: 80px;
    font-size: 2.5em;

}

.skills p{
    width: 500px;
    display: inline-block;
}


.container-skills{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 310px;
    margin-left: 310px;
    padding-top: 20px;
    flex-wrap: wrap;
    align-content: center;
}

.skills .container-skills div{
    width: 200px;
    height: 200px;
    text-align: center;
    border: 1px #05386B solid;
    margin-top: 10px auto;
    border-radius: 10px;
    background: #fff;
}

.container-skills img{
    width: 70px;
    height: 70px;
    margin: 50px 0 auto;
}






