/* FOOTER*/
footer{
    background: #05386B;
    color: #fff;
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footer-nav a{
    color: #fff;
    padding: 20px;
}

.footer-nav a:hover{
    opacity: 0.5;
}

.footer-rrss{
    text-align: center;
}

.footer-rrss .rrss{
    display: inline-block;
    border: 2px solid #05386B;
    background: #fff;
    border-radius: 50px;
    width: 50px;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #05386B;
    margin:0 5px 0 5px;
}

.footer-rrss .rrss:hover{
    background: #05386B;
    color:#fff;
    border: 2px solid #fff;
}

.footer-nav, .footer-rrss{
    padding-bottom: 30px;
}
